{% extends "base.html" %}

{% block contenido %}
<h1>Eliminar {{auto}}</h1>
<h1>Listado de autos</h1>
<p>
    <a href={% url "crear_auto" %}>Crear auto</a>
</p>

{% if autos %}
<ul>
    {% for auto in autos %}
    <li>
        {{auto}}
        | <a href={% url "detalle_auto" auto.id %}>Ver mas</a>
        | <a href={% url "modificar_auto" auto.id %}>Modificar</a>
        | <a href={% url "eliminar_auto" auto.id %}>Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay autos creados.</p>
{% endif %}

{% endblock contenido %}


